.board_Map svg {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.board_Map path {
    stroke: rgba(0, 0, 0, 0);
    fill: rgba(0, 0, 0, 0);
}

.board_MapCurrentRoom {
    stroke: rgb(0, 0, 0) !important;
    fill: rgba(0, 136, 160, 0.8) !important;
    display: block;
}
