.Narration_textZone {
    position: absolute;
    top: 2vh;
    left: 2vw;
    height: 16vh;
    width: 76vw;
    background-color: black;
    text-align: center;
    display: grid;
    place-items: center;
}

.Narration_text {
    line-height: 200%;
    font-size: 1.2em;
    height: fit-content;
    width: 80%;
}
